<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G2BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{492,622}}</string>
                <key>offset</key>
                <string>{-34,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{492,622}}</string>
                <key>sourceSize</key>
                <string>{560,900}</string>
            </dict>
            <key>G2BG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{560,520}}</string>
                <key>offset</key>
                <string>{0,-190}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,380},{560,520}}</string>
                <key>sourceSize</key>
                <string>{560,900}</string>
            </dict>
            <key>G2doux1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{290,224}}</string>
                <key>offset</key>
                <string>{71,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,231},{290,224}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux10.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,854},{256,206}}</string>
                <key>offset</key>
                <string>{65,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,229},{256,206}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux11.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,584},{268,192}}</string>
                <key>offset</key>
                <string>{67,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,230},{268,192}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{288,212}}</string>
                <key>offset</key>
                <string>{65,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,231},{288,212}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{294,226}}</string>
                <key>offset</key>
                <string>{64,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,230},{294,226}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux2.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{288,232}}</string>
                <key>offset</key>
                <string>{72,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,231},{288,232}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,292},{290,218}}</string>
                <key>offset</key>
                <string>{72,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,230},{290,218}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1188},{280,220}}</string>
                <key>offset</key>
                <string>{70,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,231},{280,220}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux5.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1470},{242,212}}</string>
                <key>offset</key>
                <string>{64,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,230},{242,212}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1554},{226,212}}</string>
                <key>offset</key>
                <string>{59,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,217},{226,212}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux7.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1112},{220,216}}</string>
                <key>offset</key>
                <string>{57,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,197},{220,216}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux8.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1334},{216,218}}</string>
                <key>offset</key>
                <string>{58,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,192},{216,218}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>G2doux9.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1684},{242,200}}</string>
                <key>offset</key>
                <string>{62,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,206},{242,200}}</string>
                <key>sourceSize</key>
                <string>{438,464}</string>
            </dict>
            <key>g2mouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{18,16}}</string>
                <key>offset</key>
                <string>{105,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,182},{18,16}}</string>
                <key>sourceSize</key>
                <string>{254,206}</string>
            </dict>
            <key>g2mouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1112},{18,12}}</string>
                <key>offset</key>
                <string>{107,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,184},{18,12}}</string>
                <key>sourceSize</key>
                <string>{254,206}</string>
            </dict>
            <key>g2mouth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1856},{20,14}}</string>
                <key>offset</key>
                <string>{108,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,183},{20,14}}</string>
                <key>sourceSize</key>
                <string>{254,206}</string>
            </dict>
            <key>g2yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1856},{106,92}}</string>
                <key>offset</key>
                <string>{87,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,100},{106,92}}</string>
                <key>sourceSize</key>
                <string>{284,194}</string>
            </dict>
            <key>g2yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1868},{106,92}}</string>
                <key>offset</key>
                <string>{87,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,100},{106,92}}</string>
                <key>sourceSize</key>
                <string>{284,194}</string>
            </dict>
            <key>g2yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1868},{106,92}}</string>
                <key>offset</key>
                <string>{87,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,100},{106,92}}</string>
                <key>sourceSize</key>
                <string>{284,194}</string>
            </dict>
            <key>image 186.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1782},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>image 187.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1856},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Girl2AnmRes.png</string>
            <key>size</key>
            <string>{756,1962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d005778156796b94b5d20086fe728ad:a68de27beb5b6f505700305e4a875ee1:75d0649269d2d8bfd74a22c4bf7b189e$</string>
            <key>textureFileName</key>
            <string>Girl2AnmRes.png</string>
        </dict>
    </dict>
</plist>
