<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>G3Bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{296,366}}</string>
                <key>offset</key>
                <string>{60,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,0},{296,366}}</string>
                <key>sourceSize</key>
                <string>{420,368}</string>
            </dict>
            <key>G3Bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,760}}</string>
                <key>offset</key>
                <string>{0,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,140},{480,760}}</string>
                <key>sourceSize</key>
                <string>{480,900}</string>
            </dict>
            <key>g3mouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,372},{42,22}}</string>
                <key>offset</key>
                <string>{106,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,282},{42,22}}</string>
                <key>sourceSize</key>
                <string>{272,320}</string>
            </dict>
            <key>g3mouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,410},{42,26}}</string>
                <key>offset</key>
                <string>{105,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,282},{42,26}}</string>
                <key>sourceSize</key>
                <string>{272,320}</string>
            </dict>
            <key>g3mouth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,370},{52,38}}</string>
                <key>offset</key>
                <string>{105,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,274},{52,38}}</string>
                <key>sourceSize</key>
                <string>{272,320}</string>
            </dict>
            <key>g3mouth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,334},{54,36}}</string>
                <key>offset</key>
                <string>{105,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,278},{54,36}}</string>
                <key>sourceSize</key>
                <string>{272,320}</string>
            </dict>
            <key>g3xiong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{260,252}}</string>
                <key>offset</key>
                <string>{55,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,270},{260,252}}</string>
                <key>sourceSize</key>
                <string>{394,526}</string>
            </dict>
            <key>g3xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{260,254}}</string>
                <key>offset</key>
                <string>{54,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,271},{260,254}}</string>
                <key>sourceSize</key>
                <string>{394,526}</string>
            </dict>
            <key>g3xiong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{266,244}}</string>
                <key>offset</key>
                <string>{57,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,270},{266,244}}</string>
                <key>sourceSize</key>
                <string>{394,526}</string>
            </dict>
            <key>g3xiong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,256},{270,240}}</string>
                <key>offset</key>
                <string>{58,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,270},{270,240}}</string>
                <key>sourceSize</key>
                <string>{394,526}</string>
            </dict>
            <key>g3xiong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,258},{274,238}}</string>
                <key>offset</key>
                <string>{59,-127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,271},{274,238}}</string>
                <key>sourceSize</key>
                <string>{394,526}</string>
            </dict>
            <key>g3yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,408},{162,78}}</string>
                <key>offset</key>
                <string>{79,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,190},{162,78}}</string>
                <key>sourceSize</key>
                <string>{324,290}</string>
            </dict>
            <key>g3yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{162,78}}</string>
                <key>offset</key>
                <string>{79,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,190},{162,78}}</string>
                <key>sourceSize</key>
                <string>{324,270}</string>
            </dict>
            <key>g3yan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,410},{160,78}}</string>
                <key>offset</key>
                <string>{79,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,190},{160,78}}</string>
                <key>sourceSize</key>
                <string>{324,290}</string>
            </dict>
            <key>g4yan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,248},{160,78}}</string>
                <key>offset</key>
                <string>{79,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,190},{160,78}}</string>
                <key>sourceSize</key>
                <string>{324,290}</string>
            </dict>
            <key>image 186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,248},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>image 187.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,248},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>image 47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,166},{166,72}}</string>
                <key>offset</key>
                <string>{77,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,217},{166,72}}</string>
                <key>sourceSize</key>
                <string>{324,290}</string>
            </dict>
            <key>neikuBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,370},{216,120}}</string>
                <key>offset</key>
                <string>{81,-283}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,568},{216,120}}</string>
                <key>sourceSize</key>
                <string>{380,690}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Girl3AnmRes.pvr.ccz</string>
            <key>size</key>
            <string>{1936,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c89bc45e99e2f238c7fa585f3a92cfe:2be0a15ec6bd9b953de460b0a497ba38:06c624b80a2d0971882d928084900c05$</string>
            <key>textureFileName</key>
            <string>Girl3AnmRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
