<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GirlEye1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1874},{164,132}}</string>
                <key>offset</key>
                <string>{94,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,126},{164,132}}</string>
                <key>sourceSize</key>
                <string>{376,260}</string>
            </dict>
            <key>GirlEye2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{166,132}}</string>
                <key>offset</key>
                <string>{95,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,126},{166,132}}</string>
                <key>sourceSize</key>
                <string>{376,260}</string>
            </dict>
            <key>GirlEye3.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1878},{164,132}}</string>
                <key>offset</key>
                <string>{94,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,126},{164,132}}</string>
                <key>sourceSize</key>
                <string>{376,260}</string>
            </dict>
            <key>GirlEye4.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1830},{172,88}}</string>
                <key>offset</key>
                <string>{92,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,126},{172,88}}</string>
                <key>sourceSize</key>
                <string>{376,260}</string>
            </dict>
            <key>image 186.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1920},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>image 187.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1830},{84,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,158}}</string>
                <key>sourceSize</key>
                <string>{84,158}</string>
            </dict>
            <key>image 79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{560,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,900}}</string>
                <key>sourceSize</key>
                <string>{560,900}</string>
            </dict>
            <key>mouth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1920},{34,38}}</string>
                <key>offset</key>
                <string>{133,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,245},{34,38}}</string>
                <key>sourceSize</key>
                <string>{312,284}</string>
            </dict>
            <key>mouth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,1874},{32,26}}</string>
                <key>offset</key>
                <string>{132,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,248},{32,26}}</string>
                <key>sourceSize</key>
                <string>{312,284}</string>
            </dict>
            <key>mouth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1554},{20,30}}</string>
                <key>offset</key>
                <string>{133,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,246},{20,30}}</string>
                <key>sourceSize</key>
                <string>{312,284}</string>
            </dict>
            <key>mouth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1214},{20,16}}</string>
                <key>offset</key>
                <string>{133,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,252},{20,16}}</string>
                <key>sourceSize</key>
                <string>{312,284}</string>
            </dict>
            <key>mouth5.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1960},{24,36}}</string>
                <key>offset</key>
                <string>{133,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,243},{24,36}}</string>
                <key>sourceSize</key>
                <string>{312,284}</string>
            </dict>
            <key>xiong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1214},{272,334}}</string>
                <key>offset</key>
                <string>{69,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,276},{272,334}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,1354},{320,236}}</string>
                <key>offset</key>
                <string>{68,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,276},{320,236}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1592},{336,236}}</string>
                <key>offset</key>
                <string>{68,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,276},{336,236}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,904},{332,252}}</string>
                <key>offset</key>
                <string>{74,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,276},{332,252}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{316,298}}</string>
                <key>offset</key>
                <string>{76,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,276},{316,298}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{262,326}}</string>
                <key>offset</key>
                <string>{68,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,276},{262,326}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,320},{284,318}}</string>
                <key>offset</key>
                <string>{73,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,276},{284,318}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{310,308}}</string>
                <key>offset</key>
                <string>{69,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,277},{310,308}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong5.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1238},{314,274}}</string>
                <key>offset</key>
                <string>{71,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,277},{314,274}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1554},{318,262}}</string>
                <key>offset</key>
                <string>{72,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,277},{318,262}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,640},{296,236}}</string>
                <key>offset</key>
                <string>{67,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,276},{296,236}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong8.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1116},{300,236}}</string>
                <key>offset</key>
                <string>{66,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,276},{300,236}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
            <key>xiong9.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,878},{308,236}}</string>
                <key>offset</key>
                <string>{65,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,276},{308,236}}</string>
                <key>sourceSize</key>
                <string>{484,612}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Girl1AnmRes.png</string>
            <key>size</key>
            <string>{878,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fd443597e043744a31d0d28bd5fe479:c1250f70264f78f33729df4b8e42a9ae:bcb96ecf0da4621ca0fad2d5cbb56233$</string>
            <key>textureFileName</key>
            <string>Girl1AnmRes.png</string>
        </dict>
    </dict>
</plist>
