<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Heartk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,446},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,298},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,150},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>Heartk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,146}}</string>
                <key>sourceSize</key>
                <string>{215,146}</string>
            </dict>
            <key>djdongbang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,765},{149,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,165}}</string>
                <key>sourceSize</key>
                <string>{149,165}</string>
            </dict>
            <key>djhuangua.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,745},{107,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,123}}</string>
                <key>sourceSize</key>
                <string>{107,123}</string>
            </dict>
            <key>djyumao.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,854},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>djzhunxing.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,765},{165,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,142}}</string>
                <key>sourceSize</key>
                <string>{165,142}</string>
            </dict>
            <key>m1miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,932},{90,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,30}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
            <key>m1pibian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{138,61}}</string>
                <key>offset</key>
                <string>{-17,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{138,61}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
            <key>m1pibian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,594},{144,127}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,39},{144,127}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
            <key>m1pibian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,594},{134,149}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{134,149}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
            <key>m1pibian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{162,169}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{162,169}}</string>
                <key>sourceSize</key>
                <string>{172,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PropRes.pvr.ccz</string>
            <key>size</key>
            <string>{436,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8296409b9d1e89f00d42ad280fe5aef0:c2f1b6cc3863b0538aa6072b33438be1:37bbe139f5d63d069d0330bf539c2720$</string>
            <key>textureFileName</key>
            <string>PropRes.pvr.ccz</string>
        </dict>
    </dict>
</plist>
